* {
  box-sizing: border-box;
}

/* Makes the sample page fill the window */
html,
body {
  height: 100%;
  width: 100% !important;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 !important;
}

/* html {
  overflow-x: hidden;
} */

html {
  border: 2px solid yellow;
}

body {
  border: 2px solid red;
  background-image: url("../images/kyle-hinkson-498968-unsplash.jpg");
  background-size: cover;

  /* Fixed Background Image */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* Eventful Logo */

.eventful-badge,
.eventful-badge * {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  text-align: center !important;
  color: #ccc !important;
  text-decoration: none !important;
}

/*Heading and Footer*/
.navbar {
  background-color: #0b071a;
  color: white;
  border: none;
}

p {
  font-size: 15px;
  font-weight: 400;
}

/* Wrapper for page content to push down footer */
main {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  /* margin: 0 auto -110px; */
  margin-bottom: -110px;
  /* Pad bottom by footer height */
  padding: 0 0 110px;
}

nav,
#footer {
  font-family: "lato", sans-serif;
  text-align: center;
}

.social-icon {
  display: inline-block;
  margin: 0px 5px;
}

.navbar a {
  color: white;
}

.tagline,
.your-time {
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
}

#footer {
  width: 100%;
  height: auto; /*same height as the margin to the bottom of the body */
  border: none;
  color: white;
  padding: 10px;
  background-color: black;
  text-align: center;
  line-height: 1.2;
  font-weight: 300;
}

#footer p {
  font-size: 14px;
}

#footer a {
  color: white;
}

.footer-right {
  border-left: 1px solid white;
}

@media (max-width: 992px) {
  .eventful-badge {
    padding-bottom: 15px !important;
  }

  #footer {
    text-align: left;
    height: auto !important;
  }
  .footer-right {
    border: none;
  }
}

/* End of Heading and Footer */

input {
  text-decoration: none;
  font-family: "lato", sans-serif;
  line-height: 1.2em;
  font-size: 15px;
  color: #fff;
  border: none;
}

.hidden {
  display: none;
}

#event-list {
  width: calc(100% - 300px);
  position: relative;
  top: 90px;
  left: 300px;
  padding-bottom: 100px;
  font-size: 18px;
  background: green;
}

.event-details {
  line-height: 1.5;
  font-size: 15px;
}

.event-image {
  float: left;
  margin: 10px;
  align-items: center;
  border: 2px solid yellow;
}

.event-item {
  color: white;
  display: block;
  line-height: 1.4em;
  border: 2px solid #00d4fa;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 15px;
  width: 80%;
  margin-left: 10%;
  padding: 20px;
}

.link {
  color: #00d4fa;
  text-decoration: underline;
}

#mapDisplay {
  display: none;
  height: 200px !important;
  width: 100%;
}

/*div box styling which contains local weather , Travel sites, and events*/

/* New Search Area */
#search-menu {
  width: 300px;
  position: fixed;
  left: 0;
  top: 64px;
  color: #fff;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.7);
  /* border: 2px solid #00d4fa; */
  height: calc(100% - 100px);
  font-size: 1.2em;
  text-align: left;
  font-family: Montserrat, Tahoma, Arial, sans-serif;
}

#search-menu .row {
  margin: 10px auto;
}

#search-bar {
  width: 190px;
}

.btn-default {
  color: #3596e0;
}

.btn-primary {
  background-color: #3596e0;
}
.button-group {
  margin-left: 10px;
}

#search-menu .search-heading {
  text-align: left;
  margin: 5px auto;
  height: auto;
  line-height: 1.2;
  float: left;
}

#socialiconImg {
  width: 30px;
  height: 30px;
  background: none;
}

ul {
  margin-left: -55px;
}

li {
  display: inline-block;
  margin: 2px;
}

@media only screen and (max-width: 768px) {
  #eventImage {
    width: 40%;
    float: right;
    border-width: 0.5px;
    margin-right: 0px;
  }

  .navbar div {
    margin: 0;
    padding: 0;
  }

  #search-menu {
    top: 90px;
  }
}

/* End of New Search Area */

.scrolltop {
  display: none;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 5000;
}

.scroll-btn {
  position: absolute;
  right: 20px;
  bottom: 130px;
  background: #3596e0;
  padding: 10px;
  text-align: center;
  margin: 0 0 0 0;
  cursor: pointer;
  border-radius: 5px;
  border: 1.5px solid black;
  box-shadow: 2px 2px 5px black;
}

@media (max-width: 768px) {
  .scroll-btn {
    bottom: 150px;
    right: 10px;
  }
}

.scroll-btn:hover {
  background-color: #24699e;
}

.scroll-btn a {
  color: black;
}

.scroll-btn a:hover {
  color: black !important;
  text-decoration: none;
}

.scroll-btn .fa {
  font-size: 30px;
  margin-top: 0px;
}
