* {
  box-sizing: border-box;
}

/* Makes the sample page fill the window */
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
}

body {
  background-image: url("../images/sunrise_org.jpg");
  background-size: cover;

  /* Fixed Background Image */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/*Heading and Footer*/
.navbar {
  background-color: #0b071a;
  color: white;
  border: none;
  border-bottom: 1px solid #00d4fa;
}

p {
  font-size: 17px;
}

/* Wrapper for page content to push down footer */
main {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  /* margin: 0 auto -110px; */
  margin-bottom: -110px;
  /* Pad bottom by footer height */
  padding: 0 0 110px;
}

#footer {
  width: 100%;
  height: 110px; /*same height as the margin to the bottom of the body */
  border: none;
  border-top: 1px solid #00d4fa;
  color: white;
  padding: 10px;
  background-color: black;
}

nav,
#footer {
  font-family: "lato", sans-serif;
  text-align: center;
}

#footer a {
  color: white;
}

.social-icon {
  display: inline-block;
  margin: 0px 5px;
}

.navbar a {
  color: white;
}

.tagline,
.your-time {
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
}

/* End of Heading and Footer */

input {
  text-decoration: none;
  font-family: "lato", sans-serif;
  line-height: 1.2em;
  font-size: 15px;
  color: #fff;
  border: none;
}

.hidden {
  display: none;
}

#search-result {
  width: 90%;
  display: block;
  margin: auto;
  margin-top: 10px;
}

#eventsDisplay {
  width: 100%;
  position: relative;
  top: 300px;
  left: 0;
  font-size: 18px;
}

#eventImage {
  float: left;
  /* padding: 5px; */
  margin-right: 20px;
}

.eventList {
  color: white;
  display: block;
  line-height: 1.4em;
  border: 2px solid #00d4fa;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 15px;
  width: 80%;
  margin-left: 10%;
  padding: 20px;
}

.link {
  color: yellow;
  text-decoration: underline;
  font-style: italic;
}

#mapDisplay {
  display: none;
  position: fixed;
  top: 50px;
  left: -10% !important;
  height: 200px !important;
  width: 200px;
}

/* Style the tab */
div.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #006aab;
}

/* Style the buttons inside the tab */
div.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
  background-color: #00d4fa;
}

/* Create an active/current tablink class */
div.tab button.active {
  background-color: #00d4fa;
}

.tablinks,
#displayInfo {
  color: #fff;
  font-family: "lato", sans-serif;
  line-height: 2em;
  letter-spacing: 0.0166em;
  font-size: 15px;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  font-family: "lato", sans-serif;
}

/*div box styling which contains local weather , Travel sites, and events*/

/* New Search Area */
#search-menu {
  width: 600px;
  margin-left: calc(50% - 300px);
  margin-top: 100px;
  position: absolute;
  color: #fff;
  font-weight: 500;
  background-color: black;
  border: 2px solid #00d4fa;
  border-radius: 5px;
  height: 200px;
  font-size: 1.2em;
  text-align: left;
  font-family: Montserrat, Tahoma, Arial, sans-serif;
}

#search-menu .row {
  margin: 25px auto;
}

#search-bar {
  width: 150px;
  position: absolute;
  top: 5px;
  left: 50px;
}

.btn-default {
  position: absolute;
  top: 5px;
  left: 0;
  color: #3596e0;
}

.btn-primary {
  background-color: #3596e0;
}

#search-menu .search-heading {
  text-align: left;
  padding: 10px 20px;
  height: auto;
  line-height: 1.2;
  float: left;
}

#socialiconImg {
  width: 30px;
  height: 30px;
  background: none;
}

ul {
  text-align: left;
  margin-left: -55px;
}

li {
  display: inline-block;
}

/* @media only screen and (max-width: 1680px) {
  #mapDisplay {
    height: 300px;
    max-width: 300px;
    margin: 10%;
    margin-top: 15px;
    position: fixed !important;
    bottom: -35px !important;
    right: -50px !important;
  }
} */

/* @media only screen and (max-width: 1280) {
  #mapDisplay {
    height: 300px;
    max-width: 300px;
    margin: 10%;
    margin-top: 15px;
    position: fixed !important;
    bottom: 100px !important;
    right: 40px !important;
  }
} */

@media only screen and (max-width: 980px) {
  /* #mapDisplay {
    height: 300px;
    max-width: 200%;
    margin: 10%;
    margin-top: 15px;
    position: fixed !important;
    bottom: 100px !important;
    right: -30px !important;
  } */
}

@media only screen and (max-width: 768px) {
  /* #mapDisplay {
    height: 300px;
    width: 80%;
    margin: 10%;
    margin-top: 15px;
    position: relative !important;
    bottom: 0px !important;
    left: 0px !important;
  } */

  #eventImage {
    width: 40%;
    float: right;
    border-width: 0.5px;
    margin-right: 0px;
  }

  #eventsDisplay {
    width: 100%;
    margin: 0px;
  }

  .navbar div {
    margin: 0;
    padding: 0;
  }

  #search-menu {
    margin-top: 150px;
    margin-left: 0;
  }
}

/* End of New Search Area */

.scrolltop {
  display: none;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  bottom: 10px;
  right: 0px;
  z-index: 5000;
}

.scroll-btn {
  position: absolute;
  right: 15px;
  bottom: 10px;
  background: #00d4fa;
  padding: 10px;
  text-align: center;
  margin: 0 0 0 0;
  cursor: pointer;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  border-radius: 5px;
}

.scroll-btn:hover {
  background-color: #006aab;
}

.scroll-btn a {
  color: white;
}

.scroll-btn a:hover {
  color: #d9d9d9 !important;
  text-decoration: none;
}

.scroll-btn .fa {
  font-size: 30px;
  margin-top: -5px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}
